body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}
a,
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.navbar .container {
  display: flex;
  justify-content: center;
}
.project-name {
  text-transform: capitalize;
}
.badge {
  font-size: 16px;
  margin-right: 0.5rem;
  margin-top: 3px;
}
#user-alert {
  display: none;
}
.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.repo-card {
  border-bottom: 1px solid #e1e4e8 ;
  padding: .5rem;
}
#repositories{
  display: none;
}
#repositories .repo-card:last-child  {
  border-bottom: none
}