body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}
a,
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.navbar .container {
  display: flex;
  justify-content: center;
}
.project-name{
  text-transform: capitalize;
}
.badge{
  font-size: 16px;
  margin-right: 0.5rem;
}
